In [ ]:
#작성자 : 나은이
#작성일자 : 20211007
#프로그램 목적 : 프로그래밍과 데이터분석 실습
#내용 : 함수

In [7]:
# 함수
# 함수 정의
def triple(a):
    result = a*3
    return result

# 함수 사용
triple(3)
type(triple(3)) #int형 반환
b = triple(5) # 리턴값 자체를 변수에 할당 시킬 수 있다.
print(b)

15

In [15]:
# 리턴이 없는 함수 ***리턴값 있는 함수와 없는 함수 구별하기
def triple2(a):
    result = a*3
    print(result)
    
triple2(9)
b = triple2(5) # 변수에 할당되진 않지만 함수에서 print문을 수행했기때문에 연산 결과가 출력된다.
print(b) # 리턴값이 없기때문에 변수에 할당 되지 않는다
type(triple2(5)) # 리턴 값이 없는 연산결과는 타입이 존재하지 않는다.

27
15
None
15

NoneType