In [ ]:
#작성자 : 나은이
#작성일자 : 20211014
#프로그램 목적 : 프로그래밍과 데이터분석 실습
#내용 : 함수2

In [3]:
# 매개변수x 리턴 x
def ni_nr():
    print('매개변수와 리턴이 없는 함수')
    pass

In [4]:
ni_nr() # 아무값도 리턴하지 않지만 출력은 수행함

매개변수와 리턴이 없는 함수

In [5]:
type(ni_nr()) # NoneType

매개변수와 리턴이 없는 함수

NoneType

In [9]:
# 매개변수x 리턴o 
# 3.14를 리턴하는 함수
def ni_r():
    return 3.14

ni_r()
type(ni_r()) #float 리턴됨

float

In [11]:
# 매개변수 초기값이 있는 함수
def triple(a=5):
    result = a * 3
    return result

print(triple(2))
print(triple()) # 아무 인수를 쓰지 않으면 default 5로 15를 반환

6
15

In [17]:
# 다수 연산 값 리턴
def test(a,b):
    return a+b, a-b, a*b, a/b

test(2,3)
type(test(2,3)) # tuple

num1, num2, num3, num4 = test(2,3) # 변수에 리턴값을 대입하고싶을 때
print(num1, num2, num3, num4)
results = test(2,3)
print(results)

5 -1 6 0.6666666666666666
(3, -1, 2, 0.5)

In [19]:
# 가변 매개변수
def test(*args):
    num = 0 # 다 더할 수 있는 공간을 만듦
    for i in range(len(args)):
        num += args[i]
    return num


def test(*args):
    num = 0 # 다 더할 수 있는 공간을 만듦
    for i in args:
        num += i
    return num

test(1,2,3,4,5) #1~5까지의 합

15

In [22]:
# 지역변수, 전역변수
# 지역변수
a = 5
def triple(a):
    a = a * 3
    return a
triple(a)
print(a) # return a 해도 함수 밖에 있는 a =5 가 출력된다. 지역변수는 함수내에서 독립적으로 사용됨
a = triple(a)
print(a) # 이렇듯 변수에 직접 할당하는 것이 젤 좋다.

5
15

In [24]:
# 전역변수
a = 5
def triple():
    global a #전역변수인 a를 핸들링 하고싶다 a == 5
    a = a * 3
    return (a)
triple() # 함수 실행하고
print(a) # a를 출력하면 a값이 15로 바뀐다

# but 전역변수를 사용하면 함수의 독립성이 떨어지기땜시, 전역변수를 쓰는건 지양하는 것이 좋다

15

In [30]:
# lambda 함수 : 딱히 재사용 마니 안할 때
cute = lambda a : a+'귀엽다'
print(cute('김나은'))

f = lambda a : a*3
f(5)
type(f(5))

김나은귀엽다

int